body{
    padding: 0;
    margin: 0;
}

/*--header-section, develope-section, Community-section*/
.section-part{
    display: flex;
    margin: 0 auto;
    width: 70%;
    padding:50px;

}
.section-div{
    width: 50%;
}
.section-div h1{
    font-size:52px;
    font-weight: bold;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    padding-left: 7px;
    border-left: 7px solid #eee;
    border-image: linear-gradient(tomato, salmon);
    border-image-slice: 1;

}
.sec-1-h1{
    color: #FFAD5A;
}
.section-div p{
    font-size:20px;
    color: rgb(163, 162, 162);
    align-items:justify;
    width: 600px;
    padding-top:5px;
}
.section-part-btn{
    color:#fff;
    font-size:16px;
    font-weight: bold;
    background-color: #FF5959;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 4px;
}
.section-div img{
    width: 600px;
}


/*--mission-section--*/
.section-mission{
    padding:0px 30px;
}
.section-mission h1{
    text-align: center;
    font-size:52px;
    font-weight: bold;
}

.mission-card{
    display: flex;
    padding:30px;
    margin: 0 auto;
    width: 80%;
}

.card-content1{
    width: 500px;
    height: 450px;
    padding:20px;
    margin: 10px 20px;
    background-color: #EDF5F6;
    border-radius:8%;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
.card-content2{
    width: 500px;
    height: 450px;
    padding:20px;
    margin: 10px 20px;
    background-color: #FFEEEE;
    border-radius:8%;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
.card-content3{
    width: 500px;
    height: 450px;
    padding:20px;
    margin: 10px 20px;
    background-color: #FFF4D6;
    border-radius:8%;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.card-content1 img{
    width:50%;
}
.card-content2 img{
    width:50%;
}
.card-content3 img{
    width:50%;
}

.mission-card h2{
    font-size:28px;
    font-weight:bold;
    color: rgb(0, 0, 0);
}
.mission-card p{
    font-size:20px;
    color: rgb(117, 114, 114);
    align-items:justify;
}
/*--mission-section-end--*/


/*--develope-section--*/
.dev-section-btn{
    color:#fff;
    font-size:18px;
    font-weight: bold;
    background-color: #FF5959;
    padding: 10px 30px;
    text-decoration: none;
    border-radius: 4px;
}
/*--develope-section-end--*/


/*--feedback-section--*/
.feedback-div{
    margin-left:750px;
    margin-top: 90px;
}
.feedback-div h1{
    font-size:36px;
    color: rgb(170, 170, 170);
}
.feedback-div label{
    font-size:28px;
    color:#b1aeae;
    
}
.feedback-div input{
    width: 400px;
    height: 30px;
    border-radius:4px;
    border: 1px solid #b1aeae;
    padding:12px 20px;
}
.feedback-div button{
    background-color: #ABA7A8;
    color: #fff;
    font-size:15px;
    padding:10px;
    width: 100px;
    border-radius: 3px;
    border: none;
}
/*--feedback-section-end--*/


footer{
    height: 250px;
    background-color: #0B0D17;
    margin-top:100px;
    display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
}
.footer-h1{
    
}
.footer-h1 h1{
    color: #fff;
    font-size:40px;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}
.footer-h1-2{
    color: #FF5959;
}
.footer-h1 p{
    color: rgb(184, 183, 183);
    font-size:20px;
}