body{
    padding: 0;
    margin: 0;
}

/*--section-01*/
.section-part{
    display: flex;
    margin: 0 auto;
    width: 70%;

}
.section-div{
    width: 50%;
}
.section-div h1{
    font-size:52px;
    font-weight: bold;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    padding-left: 7px;
    border-left: 7px solid #eee;
    border-image: linear-gradient(tomato, salmon);
    border-image-slice: 1;

}
.sec-1-h1{
    color: #FFAD5A;
}
.section-div p{
    font-size:20px;
    color: rgb(163, 162, 162);
    align-items:justify;
    width: 600px;
    padding-top:5px;
}
.section-part-btn{
    color:#fff;
    font-size:16px;
    font-weight: bold;
    background-color: #FF5959;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 4px;
}
.section-div img{
    width: 600px;
}

/*--mission-section--*/
.section-mission{
    padding:30px;
}
.section-mission h1{
    text-align: center;
    font-size:52px;
    font-weight: bold;
}

.mission-card{
    display: flex;
    padding:30px;
    margin: 0 auto;
    width: 80%;
}

.card-content1{
    width: 500px;
    height: 450px;
    padding:20px;
    margin: 10px 20px;
    background-color: #EDF5F6;
    border-radius:8%;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
.card-content2{
    width: 500px;
    height: 450px;
    padding:20px;
    margin: 10px 20px;
    background-color: #FFEEEE;
    border-radius:8%;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
.card-content3{
    width: 500px;
    height: 450px;
    padding:20px;
    margin: 10px 20px;
    background-color: #FFF4D6;
    border-radius:8%;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.card-content1 img{
    width:50%;
}
.card-content2 img{
    width:50%;
}
.card-content3 img{
    width:50%;
}

.mission-card h2{
    font-size:28px;
    font-weight:bold;
    color: rgb(0, 0, 0);
}
.mission-card p{
    font-size:20px;
    color: rgb(117, 114, 114);
    align-items:justify;
}